/* Reset default margin and padding */

* {
    padding: 0;
    margin: 0;
    font-family: "Roboto", "Sans-serif";
}

/* Navbar Styling */

.header .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141529;
    color: white;
    padding: 26px 156px;
    flex-wrap: wrap;
}

/* Logo Styling */

.header .navbar .navbar_logo p a{
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
    color: white;
}

.header .navbar .navbar_logo .logo_less_than {
    color: #C6592E;
}

.header .navbar .navbar_logo .logo_t {
    color: #C6592E;
}

.header .navbar .navbar_logo .logo_greater_than {
    color: #C6592E;
}

.header .navbar .navbar_logo .logo_forward_slash {
    color: #C6592E;
}

/* Navbar Menu Items Styling */

.header .navbar .navbar_menuitems{
    list-style-type: none;
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.header .navbar .navbar_menuitems li a{
    text-decoration: none;
    color: white;
}

.header .navbar .navbar_menuitems li a:hover{
    text-decoration: none;
    color: #C6592E;
}

/* Main Page Styling */

.main_page {
    background-color: #1b1f48;
    padding: 26px 156px;
}

/* Hero Section Styling */

.main_page .hero_section {
    display: flex;
    justify-content: center;
    align-items: center;
}

.main_page .hero_section .intro_section{
    display: flex;
    flex-direction: column;
    gap: 30px;
    width: 80%;
}

.hero_section .intro_section .social_media_links {
    display: flex;
    color: white;
    gap: 10px;
    font-size: 23px;
}

.hero_section .intro_section .social_media_links div a{
    border: 2px solid #C6592E;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    text-decoration: none;
}

.hero_section .intro_section .social_media_links div a:hover {
    border: 2px solid white;
    height: 50px;
    width: 50px;
    border-radius: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #C6592E;
}

.hero_section .intro_section .name_intro h1{
    color: white;
    font-size: 50px;
}

.hero_section .intro_section .experience_intro p{
    color: white;
}

.hero_section .intro_section .portfolio_youtube_links {
    display: flex;
    gap: 50px;
    justify-content: space-between;
    align-items: center;
}

.hero_section .intro_section .portfolio_youtube_links .portfolio a{
    border: 2px solid #C6592E;
    height: 35px;
    width: 150px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    color: white;
}

.hero_section .intro_section .portfolio_youtube_links .portfolio a:hover {
    border: 2px solid white;
    height: 35px;
    width: 150px;
    border-radius: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #C6592E;
}

.hero_section .hero_section_image {
    width: 100%;
}

/* Services Section Styling */

.services {
    display: flex;
    flex-direction: column;
    color: white;
}

.services .services_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 52px 0;
    gap: 20px;
}

.services .services_header h4 {
    color: #C6592E;
}

.services .services_header p {
    text-align: center;
}

.services .services_header hr {
    width: 60px;
    color: #C6592E;
}

.services .services_info_items {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: 25px;
}

.services .services_info_items .services_info_item {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    height: 180px;
    background-color: #141529;
}

.services .services_info_items .services_info_item .services_icon {
    color: #C6592E;
    font-size: 32px;
}

.services .services_info_items .services_info_item .services_info_header {
    font-weight: bold;  
}

/* Footer Styling */

.footer_section {
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    align-items: center;
    background-color: #141529;
    color: white;
    padding: 52px 156px;
}

/* Footer Logo Styling */

.footer_section .footer_logo p a{
    font-weight: bolder;
    font-size: x-large;
    text-decoration: none;
    color: white;
}

.footer_section .footer_logo .logo_less_than {
    color: #C6592E;
}

.footer_section .footer_logo .logo_t {
    color: #C6592E;
}

.footer_section .footer_logo .logo_greater_than {
    color: #C6592E;
}

.footer_section .footer_logo .logo_forward_slash {
    color: #C6592E;
}

.footer_section .footer_info p {
    text-align: center;
    font-size: 16px;
}

.footer_section .footer_socials {
    display: flex;
    gap: 20px;
}

.footer_section .footer_socials .footer_social a{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 32px;
    background-color: #1b1f48;
    height: 70px;
    width: 70px;
    border-radius: 100%;
    text-decoration: none;
    color: white;
}

.footer_section .footer_socials .footer_social a:hover {
    color: #C6592E;
}


/* ============ABOUT PAGE STYLING================ */

.about .about_header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 52px 0;
    gap: 20px;
    background-color: #1b1f48;
    color: white;
}

.about .about_header h4 {
    color: #C6592E;
}

.about .about_header p {
    text-align: center;
}

.about .about_header hr {
    width: 60px;
    color: #C6592E;
}

.about .about_image_greetings {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #1b1f48;
}


/* ============CONTACT PAGE STYLING================ */

.contact_page {
    background-color: #1b1f48;
}

/* Container for the contact form */
.container {
    max-width: 600px;
    margin: 50px auto;
    padding: 20px;
    border-radius: 5px;
}

/* Heading style */
h1 {
    text-align: center;
    color: white;
}

/* Style for form inputs and labels */
.form-group {
    margin-bottom: 15px;
    color: white;
}

label {
    display: block;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    margin-top: 5px; /* Adjust spacing between form elements */
    border: 1px solid #ccc;
    border-radius: 5px;
}

textarea {
    height: 150px;
}

/* Style for submit button */
button {
    width: 100%;
    padding: 10px;
    background-color: #C6592E;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

/* Button hover effect */
button:hover {
    background-color: #1b1f48;
}
